 h1 {
     display: flex;
     flex-direction: column;
    color:  darkgoldenrod;
     align-items: center;
     font-size: 70px
}

body  {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    padding: 10px;    
    background-color: darkolivegreen;
}
div  p {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;   
    font-size: 40px;
    color: #f1f1f1;
}

dimg {
    width: 10px;
    height: 10px;
    margin: 50px 5px 5px 0;    
}



